@using BookStore.Domain.Entities;
@model List<Genre> 

<table class="table table-borderless">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            int list_cnt = i+1;
            <tr>
                <th>@list_cnt</th>
                <td>@Model[i].Name</td>
            </tr>
        }
    </tbody>
</table>