@using BookStore.Domain.Entities;
@model List<Genre> 

<table class="table table-borderless">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            int list_cnt = i+1;
            <tr>
                <th>@list_cnt</th>
                <td>@Model[i].Name</td>
                <td>
                    <a asp-controller="Genres" asp-action="DeleteGenre" asp-route-id="@Model[i].Id" class="btn btn-danger">
                        <i class='bx bxs-trash'></i>
                    </a>

                    <!--controller yozish kerak-->
                    <!--
                    <a asp-controller="Authors" asp-action="Update" asp-route-id="@Model[i].Id" class="btn btn-secondary">
                        <i class='bx bxs-edit-alt'></i>
                    </a>
                    -->
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Genres" asp-action="Create" class="btn btn-primary  d-block">
    <i class='bx bx-plus'></i>
</a>