@using BookStore.Application.useCases.Auth
@model LoginCommand

<form>
    <div class="mb-3">
        <label asp-for="@Model.Email" for="exampleInputEmail1" class="form-label">Email address</label>
        <input asp-for="@Model.Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Password" for="exampleInputPassword1" class="form-label">Password</label>
        <input asp-for="@Model.Password" type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <button asp-controller="Auth" asp-action="Login" formmethod="post" type="submit" class="btn btn-primary">Submit</button>
</form>