@using BookStore.Domain.Entities.Auth
@model User


@{
    ViewData["Title"] = "Profile";
}

<h1>Welcome to your Profile</h1>

    <p>Here you can manage your profile details:</p>

    <!--  profile details -->
    <div>
    <h2>User Information</h2>
    <p><strong>UserName:</strong> @User.Identity.Name</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Phone Number:</strong> @Model.PhoneNumber</p>
    </div>

    <!-- Form to update profile -->
<form asp-controller="Auth" asp-action="Update" method="post">
    <div class="mb-3">
        <label asp-for="FullName" class="form-label">Full Name</label>
        <input asp-for="FullName" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" type="email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label asp-for="UserName" class="form-label">Username</label>
        <input asp-for="UserName" type="email" class="form-control" readonly>
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
        <input asp-for="PhoneNumber" type="text" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Update Profile</button>
</form>
