@using MVC.Models.Auth
@model RegisterDTO

<div class="move">
    <img class="move-img" src="~/assets/boook.png" />
    <div class="back">
        <form class="forma">
            <br />
            <div class="mb-3">
                <input placeholder="Full Name" type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <input placeholder="Username" type="text" class="form-control" id="Username" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <input placeholder="Phonenumber" type="text" class="form-control" id="PhoneNumber" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <input placeholder="Email Address" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text" style="color:white">We'll never share your email with anyone else.</div>
            </div>

            <div class="mb-3">
                <input placeholder="Password" type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="mb-3">
                <input placeholder="Confirm Password" type="password" class="form-control" id="ConfirmPassword">
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1" style="color:white">Check me out</label>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


<style>
    .move{
        display:flex;
        justify-content:center;
        width: 100%;
        height: 80vh;
        /* background-image: url('../assets/boook.png'); */
        background-size: cover;
        background-position: center;

        background-repeat: no-repeat;
    }
    .move-img{
        position: absolute;
        width: 100%;
        height: 79.5%;
        z-index: -1;  
    }
    .forma{
        width: 55%;
    }
    .back{
        display: flex;
        justify-content: center;
        background-image: url('../assets/book2.jfif');
        background-size: cover;
        backdrop-filter: blur(20px);
        background-position: center;
        background-repeat: no-repeat;
        width:35%;
    }
</style>