@using BookStore.Domain.Entities
@model AuthorDetailsViewModel

<div class="row">
    <div class="col p-0">
        <h1><b>Properties</b></h1>
        <hr />
        <h1>Id</h1>
        <h1>Name</h1>
        <h1>Description</h1>
        <h1>Photo</h1>
    </div>

    <div class="col p-0">
        <h1><b>Values</b></h1>
        <hr />
        <h1>@Model.Author.Id</h1>
        <h1>@Model.Author.Name</h1>
        <h1>@Model.Author.Description</h1>

        @{
            string url = "https://" + Model.Host + Model.Author.PhotoPath;
        }

        <img src="@url" style="width:200px"/>
    </div>
</div>