@using BookStore.Domain.Entities
@model Author

<form asp-controller="Authors" asp-action="Update" method="post">
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" class="form-control" asp-for="Name" required />
    </div>
    <div class="form-group">
        <label for="Description">Description:</label>
        <textarea id="Description" name="Description" class="form-control" asp-for="Description" required></textarea>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Update</button>
</form>