@using BookStore.Domain.Entities
@model Author

<form class="d-flex gap-2">
    <input class="form-control" asp-for="Name"/>
    <input class="form-control" asp-for="Description" />
    <button class="btn btn-primary" asp-controller="Authors" asp-action="Update" formmethod="post">Update</button>
</form>     