@using BookStore.Domain.Entities
@model List<Book>

@{
    ViewData["Title"] = "Book";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">T/R</th>
            <th scope="col">Author</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
    @for(var i = 1; i < Model.Count; i++)
    {
        <tr>
            <th scope="row">@i</th>
            <td>@Model[i - 1].Title</td>
            <td>@Model[i - 1].Description</td>
                <td><button class="btn btn-danger"><i class='bx bxs-trash'></i></button></td>
        </tr>
    }
    </tbody>
</table>
