@using BookStore.Domain.Entities
@model List<Book>

@{
    ViewData["Title"] = "Book";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">T/R</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @for (var i = 1; i < Model.Count; i++)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@Model[i - 1].Title</td>
                <td>@Model[i - 1].Author.Name</td>
                <td>
                    <a asp-controller="Home" asp-action="Delete" asp-route-id=@Model[i].Id class="btn btn-danger">
                        <i class='bx bxs-trash'></i>
                    </a>
                    <a asp-controller="Books" asp-action="Update" asp-route-id="@Model[i].Id" class="btn btn-warning">
                        <i class='bx bxs-pencil'></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>