@using BookStore.Domain.Entities
@model Book

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h1>@Model.Title</h1>
            <p class="description">@Model.Description</p>
            <p><strong>Author:</strong> @Model.Author.Name</p>
            <p>
                @{
                    <strong>Genres:</strong>
                    if(Model.Genres.Count != 0)
                    {@foreach (var genre in Model.Genres)
                        {
                            <span class="badge bg-primary">@genre.Name</span>
                        }
                    } else
                    {
                        <span>Hozircha ganr mavjud emas!</span>
                    }
                }
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img src="https://via.placeholder.com/200" alt="Book Cover" class="img-fluid rounded">
        </div>
    </div>
</div>

<script>
    console.log("salom")
</script>